<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-top" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">Интернет магазин радио компонентов</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-top">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'register' %}">Регистрация</a></li>
                {% if user.is_authenticated %}
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Личный кабинет <span class="caret"></span></a>
                         <ul class="dropdown-menu">
                             <li><a href="{% url 'password_change' %}">Сменить пароль</a></li>
                             <li><a href="{% url 'logout' %}">Выйти ({{ user.get_username }})</a></li>
                         </ul>
                     </li>
                {% else %}
                    <li><a href="{% url 'login' %}">Вход</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>