{% extends 'layouts/base.html' %}

{% load bootstrap3 %}

{% block title %}Изменение пароля{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">Изменение пароля</div>
                    </div>
                    <div class="panel-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <input type="submit" class="btn btn-primary btn-block" value="Измененить мой пароль">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}