{% extends "layouts/base.html" %}

{% block content %}
    <div class="container">
        {% if user.is_activate %}
            <div class="alert alert-success">
                <p class="text-center">На вашу электронную почту было отправлено письмо с инструкцией по смене пароля</p>
            </div>
        {% else %}
            <div class="alert alert-warning">
                <p class="text-center">Этот аккаунт не активирован или отключен</p>
            </div>
        {% endif %}
    </div>
{% endblock %}