{% extends 'catalog_base.html' %}

{% load static %}

{% block title %}{{ category.name }}{% endblock %}

{% block dynamic_catalog %}
    {% if messages %}
        {% for message in messages %}
            <h4 class="text-center">{{ message }}</h4>
        {% endfor %}
    {% endif %}
    {% for product in products %}
        {% if forloop.first %}
            <div class="row">
        {% endif %}
    <div class="col-md-4">
        <div class="thumbnail">
            {% if product.image %}
                <img src="{{ MEDIA_URL }}{{ product.image }}" class="img-responsive">
            {% else %}
                <img src="{% static 'images/no-image.png' %}" class="img-responsive">
            {% endif %}
            <div class="caption">
                <h5>{{ product.name_values }}</h5>
                <p><strong>Цена: </strong> {{ product.price }} грн</p>
                <p><strong>Код товара: </strong>{{ product.code }}</p>
                <p>
                    <a href="{% url 'product' id=product.id %}" class="btn btn-success btn-block"
                       role="button">Подробнее</a>
                </p>
                <form action="{% url 'cart_add' id=product.id %}" method="post">
                    {% csrf_token %}
                    {{ cart_product_form }}
                    <input type="submit" role="button" class="btn btn-primary btn-block" value="Добавить в корзину">
                </form>
            </div>
        </div>
    </div>
    {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
    {% endif %}
    {% if forloop.last %}
        </div>
    {% endif %}
    {% endfor %}
    {% if products.has_other_pages %}
        <ul class="pagination">
            {% if products.has_previous %}
                <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if products.has_next %}
                <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}